<div class="card">
    <img [src]="movie.image | domsanitizer: 'movie.image'" class="card-img-top" [alt]="movie.title" style="height: 200px;">
    <div class="card-body">
        <h2 class="card-title">{{movie.title}}</h2>
        <p class="card-text" *ngIf="movie.description !== ''">
            {{movie.description}}
        </p>
        <p class="card-text" *ngIf="movie.description === ''">
            Without description
        </p>
        <p class="card-text float-right"><small class="text-muted">Release date: {{ movie.release | date : 'fullDate' }}</small></p>
    </div>
</div>