<!-- <div class="card mx-auto" style="width: 50%;">
    <img class="card-img-top" [src]="movie.image | domsanitizer: 'movie.image'" [alt]="movie.title" style="max-width:15em">
    <div class="card-body">
        <h2 class="card-title">{{movie.title}}</h2>
        <h5 class="card-text">Movie description </h5>
        <p class="card-text" *ngIf="movie.description !== ''">
            {{movie.description}}
        </p>
        <p class="card-text" *ngIf="movie.description === ''">
            Without description
        </p>
        <p class="card-text float-right"><small class="text-muted">Release date: {{ movie.release | date : 'fullDate' }}</small></p>
    </div>
</div> -->


<div class="card mx-auto" style="width: 25rem;">
    <img [src]="movie.image | domsanitizer: 'movie.image'" class="card-img-top" alt="...">
    <div class="card-body">
        <h2 class="card-title">{{movie.title}}</h2>
        <p class="card-text" *ngIf="movie.description !== ''">
            {{movie.description}}
        </p>
        <p class="card-text" *ngIf="movie.description === ''">
            Without description
        </p>
        <p class="card-text float-right"><small class="text-muted">Release date: {{ movie.release | date : 'fullDate' }}</small></p>
    </div>
</div>