<h1 class="">Top 5 Movies <i class="fas fa-film"></i></h1>
<hr>
<app-loading *ngIf="!loading"></app-loading>
<div class="row animated fadeIn" *ngIf="loading">
    <div class="card mb-3 card-top-movie card-pointer" *ngFor="let item of movies" style="width: 14rem;">
        <img [src]="item.image" class="card-img-top" [alt]="item.title">
        <div class="card-body">
            <h5 class="card-title">{{item.title}}</h5>
            <p class="card-text">{{item.description}}</p>
            <p class="card-text"><small class="text-muted">{{item.release | date: 'fullDate'}}</small></p>
        </div>
    </div>
</div>